<div class="modal fade soundAlertModal" id="soundAlertModal">
  <div class="modal-dialog">
    <div class="modal-content andSoundalert">
      <div class="modal-body soundalert">

        <div class="seal-txtcont">
          <div class="seal-ttlwrap">
            <h2 class="seal-ttl">音量注意</h2>
          </div><!--  .seal-ttlwrap -->
          <div class="seal-txtwrap">

            <p>本サイトには音の出るコンテンツが含まれます。</p>
            <p>周りの方へのご迷惑とならないようご注意お願いいたします。</p>

          </div><!--  .seal-txtwrap -->
        </div><!--  .seal-txtcont -->


      </div>
    </div>
  </div>
</div>
