// .bd
// {
//   background: rgb(136, 194, 70);
//   height: 100px;
// }

// スタイルシート実験
// .stltest
// {
//   border: 1px solid #000;
//   width: 25%;
//   p
//   {
//     padding: 20px;
//   }
// }
// スタイルシート実験　ここまで

// 基本的な設定
body
{
  height: 100vh;
}
.container
{
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  // height: 100vh;
  padding: 124px 0 0 0;
}
.wrapper
{
  overflow: visible;
}
.flexer
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.sound-library
{
  width: 20%;

  background-color: #ddd;
  padding: 20px;
  // height: calc(100vh - 84px);

}
.sampler-index
{
  width: 20%;
  height: calc(100vh - 124px);
}

.main-sumpler
{
  width: 45%;
  background-color: #ddd;
  padding: 30px;
}
.right-sumpler-custom
{
  width: 20%;
  background-color: #ddd;
  padding: 30px;
}


// .alert
// {
//   padding-top: 0;
//   margin-bottom: 0;
// }
// .navbar
// {
//   margin-bottom: 0;
// }



// 基本的な設定 ここまで


// fixedメニューバー

.navbar-wrap
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

// fixedメニューバーここまで


// 無限スクロール

nav.pagination
{
  display: none;
}
.jscroll
{
  // margin-bottom: 300px;
  .sampler
  {
    background-color: #eee;
    margin-bottom: 20px;
  }
}

// 無限スクロール ここまで



// リアルタイム検索

.algolia-autocomplete {
    width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}
.algolia-autocomplete .aa-hint {
    color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #999;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}

// リアルタイム検索 ここまで


// 検索ウィンドウ

.controll.is-expanded
{
  margin: 0 8px;
  position: relative;
  .search-field
  {
    width: 100%;
    padding: 8px 8px 8px 36px;
    border-radius: 25px;
    outline: none;
    border: none;
  }
  .sampler-search
  {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    outline: none;
    background-color: transparent;
  }
  .fas.fa-search.search
  {
    position: absolute;
    top: 50%;
    left: 6%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  // .sampler-search
  // {
  //   display: none;
  // }
}

// 検索ウィンドウ ここまで


// 効果音ライブラリ

.sl-content
{
  a
  {
    padding: 20px;
    background-color: #eee;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    p
    {
      display: inline-block;
    }
  }
}

// 効果音ライブラリ ここまで



// メインサンプラー

.sumpler-btn-wrap
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  // flex-flow: wrap;
}
.btnwrapper-v1
{
  width: 55%;
  margin-bottom: 80px;
}
.btnwrapper-v1-1
{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.case-btn
{
  width: 160px;
  height: 160px;
  border: 1px solid #000;
  display: inline-block;
  cursor: pointer;
  padding: 10px;
  input[type=range]
  {
    width: 100%;
  }
  input[type=text]
  {
    width: 100%;
    margin-top: 10px;
  }
}

// メインサンプラー ここまで


// サンプラー設定

.lsc-content
{
  a
  {
    padding: 20px;
    background-color: #eee;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    p
    {
      display: inline-block;
    }
  }
}


// サンプラー設定 ここまで


// サンプラー一覧

.sampler-index
{
  background-color: #ddd;
}

.sampler-scrollx
{
  overflow-x: hidden;
  overflow-y: visible;
  height: 300px;
}

// サンプラー一覧 ここまで


// テストデータ等

.btnwrapper-v2
{
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

// テストデータ等 ここまで
