// カラーパレット

$panel: #333;
$bg: #222;
$panel_dark: #111;
$bg_middle: #2a2a2a;
$scroll: #444;
$bg_light: #555;
$navh: 60px;
$mainpt: 36px;
$txt1: #ccc;
$vol_scroll: #aaa;

// カラーパレットここまで


// maw:1000
@media (max-width: 1000px) {

  // 基本的な設定

  .wrapper
  {
    padding: 16px 0 0;
  }

  // 基本的な設定 ここまで


  //  メインサンプラー
  .upper-panel-left
  {
    width: 90px;
  }
  .upper-panel-right
  {
    width: 45%;
    .samplername-field
    {
      font-size: 12px;
    }
  }

  // サンプラーボタン
  .case-btn
  {
    width: 24%;
  }
  .cb-mk-loopable
  {
    &::before
    {
      display: none;
    }
    &::after
    {
      display: none;
    }
  }

  .radio-field
  {
    // justify-content: flex-start;
    flex-wrap: wrap;
  }

  // サンプラーボタン ここまで

  // 保存ボタン

  .downer-panel
  {
    margin-top: 12px;
  }

  // 保存ボタン ここまで

  //  メインサンプラー ここまで






  // 音量注意

  .soundAlertModal
  {
    .modal-dialog
    {
      margin: 200px auto;
    }
  }
  .modal-body.soundalert
  {
    &.soundalert
    {
      padding: 30px 10px;
    }
    &::after
    {
      font-size: 250px;
    }
  }
  .modal-content.andSoundalert
  {
    width: 95%;
    margin: auto;
  }
  .seal-txtcont
  {

    .seal-ttl
    {
      font-size: 28px;
      letter-spacing: 12px;
      &::after,
      &::before
      {
        font-size: 18px;
      }
      &::before
      {
        left: -20%;
      }
      &::after
      {
        right: -20%;
      }
    }

    .seal-txtwrap
    {
      p
      {
        font-size: 12px;
      }
    }

  }

  // 音量注意 ここまで

}
// maw:1000 ここまで


// maw:750px
@media (max-width: 750px) {


    // 基本的な設定

    .flexer
    {
      flex-direction: column;
    }

    .btncontainer
    {
      width: 100%;
      margin-bottom: 16px;
    }


    // 基本的な設定


    // fixedメニューバー

    .navbar-flexer
    {
      .right
      {
        overflow: visible;
        .navbar-nav
        {
          opacity: 0;
          pointer-events: none;
          top: 100%;
          flex-direction: column;
          width: auto;

          padding: 10px 10px 0;
          background-color: rgba(17, 17, 17, 0.8);
          border-radius: 8px;
          transition: .3s;

          &.active
          {
            display: flex;
            pointer-events: auto;
            opacity: 1;
            top: calc(100% + 10px);
          }

          .nav-item
          {
            margin-bottom: 10px;
          }

        }
        .burg-ico-wrap
        {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        .burg-ico_
        {
          display: none;
          color: $txt1;
          font-size: 28px;
          &.active
          {
            display: block;
          }
        }
      }
    }
    .burg-ico
    {
      display: flex;
    }

    // fixedメニューバー ここまで


    // フラッシュメッセージ
    .ntf-cont
    {
      top: 24px;
      width: 80vw;
    }
    .ntf-wrap
    {
      width: 85%;
      .alert
      {
        padding: 0;
        margin: 0;
      }

    }

    // フラッシュメッセージ ここまで


    // ヘルプ

    .help
    {
      .pro
      {
        .pc
        {
          display: none;
        }
        .sp
        {
          display: inline-block;
        }
      }
    }

    // ヘルプ ここまで


    // サンプラー一覧

    .sampler-index
    {
      position: fixed;
      left: 0;
      bottom: 0;
      -webkit-transform: translate(0%, 100%);
      -ms-transform: translate(0%, 100%);
      transform: translate(0%, 100%);


      width: 100%;
      height: 240px;
      transition: .2s ease-in-out;

      &.show
      {
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
      }
    }
    .sampler-scrolly
    {
      height: 16vh;
    }


    .sampler-index-hider
    {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 54px;
      -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
      transform: translate(0, -100%);

      background-color: $bg_light;
      border-radius: 8px 8px 0 0;

      transition: .3s;

      .hider-txt
      {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;

        font-size: 14px;
        color: $txt1;

        display: none;
      }

      .hider-txt.show
      {
        display: block;
      }

    }
    .sampler-index.show
    {
      .sampler-index-hider
      {
        height: 32px;
      }
    }

    // サンプラー一覧 ここまで


    // サンプラー設定パネル
    .custompanel-switch-btn
    {
      &::after
      {
        padding-top: 40%;
      }
    }
    .cwp-keypos
    {
      width: 20px;
      height: 20px;
    }
    // サンプラー設定パネル ここまで


    // 効果音ライブラリ

    .sound-library
    {
      display: none;
    }

    .field.search
    {
      margin-bottom: 0;
    }
    .controll.is-expanded.search .sampler-search,
    .controll.is-expanded.search .fas.fa-search.search
    {
      left: 14px;
    }
    .sampler-scrollx
    {
      margin-top: 4px;
    }

    // 効果音ライブラリ


    // モーダル

    #logInModal,
    #signUpModal
    {
      .modal-dialog
      {
        width: 95%;
      }
    }
    .signUpError_links .sp
    {
      display: none;
    }

    // モーダルここまで

    // ヘルプ

    .modal-dialog.help
    {
      width: 95%;
    }
    .help-contents
    {
      padding: 0;
    }
    .help-imgwrap
    {
      img
      {
        // height: auto;
        // width: 100%;
      }
      &.pc
      {
        display: none;
      }
      &.sp
      {
        display: block;
      }
    }


    // ヘルプ ここまで

    // サンプラー設定パネル
    .custompanel-switch-container
    {
      flex-direction: column;
      width: 100%;
    }
    .custompanel-switch-wrap
    {
      width: 60%;
      margin: 0 auto 10px;
      max-width: 320px;
    }
    .custompanel-window-wrap
    {
      width: 100%;
      margin: 0 auto;
    }
    .volume-field
    {
      margin-bottom: 12px;
    }
    .case-btn-miniflexer
    {
      margin-bottom: 12px;
    }
    .cw-switch
    {
      flex-direction: row;
      width: 50%;
      height: 54px;
      right: 0;
      transition: .3s;
    }
    .customwindow.show
    {
      .cw-switch
      {
        height: 32px;
      }
    }
    .cw-fas
    {
      i
      {
        font-size: 16px;
        margin-right: 4px;
      }
    }
    .cw-txt-wrap
    {
      margin-top: 0;
    }

    .cw-fas,
    .cw-txt-wrap p
    {
      font-size: 14px;
    }
    // サンプラー設定パネル ここまで


  }
// maw:750px ここまで


// maw:600px
@media (max-width: 600px) {


  // ヘルプ
  .help-txtwrap
  {
    padding-top: 24px;
  }
  .help-txt-ttl
  {
    padding-bottom: 16px;
    p
    {
      font-size: 18px;
    }
  }
  .help-txt-sub
  {
    p
    {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1.6;
      .alert
      {
        font-size: 8px;
      }
    }
  }

  .help
  {
    .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
    {
      margin: 0 4px;
    }
  }
  .help .swiper-pagination .swiper-pagination-bullet
  {
    width: 18px;
    height: 18px;
  }
  .help-imgwrap
  {
    height: 120px;
    // img
    // {
    //   height: auto;
    //   width: 100%;
    // }
  }
  .help-txtwrap
  {
    padding-top: 14px;
  }
  .help-txt-ttl
  {
    padding-bottom: 8px;
  }
  .help-txt-sub
  {

  }

  .help
  {
    .modal-header
    {
      border: none;
      padding: 15px 15px 0;
      .close
      {
        width: 20px;
        height: 20px;

        background-color: transparent;
      }
    }
  }




  // ヘルプ ここまで



  // チェックボックス(ループ)

  .lb-cb-loopable
  {
    justify-content: flex-end;
  }

  .field-cell-formwrap
  {
    width: 100%;
  }

  // チェックボックス(ループ) ここまで

  // サンプラー設定パネル

  .custompanel-switch-wrap,
  .custompanel-window-wrap
  {
    width: 100%;
  }


  // サンプラー設定パネル ここまで


}
// maw:600px ここまで


// maw:300px

@media (max-width: 300px) {

  // モーダル

  .modal-header .modal-title
  {

  }

  // モーダル

  // ヘルプ

  // ヘルプ ここまで

}

// maw:450px

@media (max-width: 450px) {

  // サンプラーメインパネル

.key-position
{
  width: 24px;
  height: 24px;
  border-radius: 6px;
  p
  {
    font-size: 20px;
  }
}
.sename-panel
{
  p
  {
    font-size: 10px;
  }
}

// サンプラーメインパネル ここまで

}

// maw:450px ここまで

// maw:300px ここまで
