<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar-flexer" id="navbarNav">

      <div class="left">
        <a class="" href="#">OTPNfinity_kari</a>
      </div><!--  .navbar-left -->

      <div class="right">
        <div class="burg-ico" id="burg-ico">
          <div class="burg-ico-wrap">
            <div class="burg-ico_ active" id="burg-ico_menu"><i class="fas fa-bars"></i></div><!--  .burg-ico-inner -->
            <div class="burg-ico_" id="burg-ico_close"><i class="fas fa-times"></i></div><!--  .burg-ico-inner -->
          </div><!--  .burg-ico-wrap -->
        </div><!--  .burg-ico -->
        <ul class="navbar-nav" id="navbar-nav">
          <li class="nav-item">
            <a class="nav-link help" id="help-toggler" type="button" data-toggle="modal" data-target="#help">
              <!-- はじめての方へ -->
              <i class="fas fa-question-circle"></i>
            </a>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to(destroy_user_session_path, :class=>"nav-link logout", method: :delete) do %> <i class="fas fa-sign-out-alt"></i> <% end %>
          </li><!--  .nav-item active -->
          <li class="nav-item active">
            <!-- <a class="nav-link" type="button" data-toggle="modal" data-target="#editModal">ユーザー編集</a> -->
          </li><!--  .nav-item active -->
          <% else %>

          <!-- <li><div id="modal-mask" class="mask hidden"></div></li> -->

          <li class="nav-item active">
            <a class="nav-link signup" id="user-submit-toggler" type="button" data-toggle="modal" data-target="#signUpModal">
              <!-- ユーザー登録 -->
              <i class="fas fa-user-plus"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link login" id="login-toggler" type="button" data-toggle="modal" data-target="#logInModal">
              <!-- ログイン -->
              <i class="fas fa-sign-in-alt"></i>
            </a>
          </li>
          <% end %>
          <li class="nav-item sound-arrert">
          </li>
        </ul>
      </div>


    </div>


    <script type="text/javascript">

    </script>
</nav>
